@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll {
    animation: scroll 1.5s infinite;
  }

  .animate-reverse {
    animation-direction: reverse;
  }

  .animate-float {
    animation: float 20s linear infinite;
  }

  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-10px) translateX(10px);
  }
  50% {
    transform: translateY(0) translateX(20px);
  }
  75% {
    transform: translateY(10px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
}

.bg-pattern {
  background-image: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
}

.bg-pattern-light {
  background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.1) 1px, transparent 0);
  background-size: 40px 40px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-gray-800;
}

/* Custom Styling */
.scale-x-0 {
  transform: scaleX(0);
}

.scale-x-100 {
  transform: scaleX(1);
}

.origin-right {
  transform-origin: right;
}

.origin-left {
  transform-origin: left;
}